@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid red;
} */

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justifiy-content: center;
  align-items : center;
  min-height : 100vh;
}
