@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #0E0F11;
  --foreground: #FFFFFF;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justifiy-content: center;
  align-items : center;
  min-height : 100vh;
}

@layer utilities {
  .bg-grid-3d {
    background-image:
      linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 100px 100px; /* Taille de la grille */
    background-color: #1a1a1a; /* Couleur de fond */
    position: relative;
    transform: perspective(800px) rotateX(60deg); /* Effet 3D */
    transform-origin: top; /* Point de pivot */
  }
}
